@charset "UTF-8";

@font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.eot?94604853');
    src: url('../font/symbols-nerds.eot?94604853#iefix') format('embedded-opentype'),
    url('../font/symbols-nerds.woff?94604853') format('woff'),
    url('../font/symbols-nerds.ttf?94604853') format('truetype'),
    url('../font/symbols-nerds.svg?94604853#symbols-nerds') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?94604853#symbols-nerds') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "symbols-nerds";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */
body{
    background-color: white;
    color: #000;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
    /*background: url(index.jpg) no-repeat;*/
}
header{
    height: 435px;
    background-color: #eee;
    min-width: 910px;
}
.main-container{
    width: 880px;
    margin: 0 auto;
    padding: 25px 10px 0;
    background-color: #eee;
}
.main-container img{
    width:139px;
    height:56px;;
    float: left;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.menu{
    margin-top: 28px;
    width: 560px;
    float: right;
    font-weight: 700;
    z-index: 1;
}

.main-navigation{
    float:left;
    width: 460px;
    position: relative;
}

.main-navigation ul{
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
}
.main-navigation li{
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
}
.main-navigation a{
    text-decoration: none;
    text-transform: uppercase;
    color:#000;
    margin-right: 40px;
}
.main-navigation a:hover{
    color:#fb565a;
}

.main-navigation .active a:hover {
    color: #000;
    cursor: default;
}
.main-navigation .active a::after{
    content: "";

    position: absolute;
    bottom: -5px;
    left: 0px;
    right: 40px;

    height: 2px;

    background: #ff899c;
}
.bascet{
    float: right;
    max-width: 110px;
    margin-top: 0px;
    position: relative;
}
.bascet a{
    text-decoration: none;
    text-transform: uppercase;
    color:#000;

    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
}
.bascet a:hover{
    color:#fb565a;
}
.bascet a.active:hover {
    color:#000;
    cursor: default;
}
.bascet  .active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    right: 0px;
    height: 2px;
    background: #ff899c;
}

.slider{
    z-index: 5;
    position: relative;
    width: 880px;
    height: 350px;
    margin: 0 auto;
}
.slider input[type=radio]{
    position: absolute;
    opacity: 0;
}
.slider-controls{
    position: absolute;
    bottom: 95px;
    left:50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}
.slider-controls label{
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    border-radius: 50%;
    background: white;
    vertical-align: top;
    border: 3px solid white;
    cursor: pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"]{
    background: #c1c1c1;
}
.slider-controls label.active{
    background: #111111;
}
.slide{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slider-text{
    float: left;
    width: 350px;
    display: block;
    font-size: 16px;
    line-height: 22px;
}
.slider-title{
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 20px;
}
.slider a{
    width:240px;
    background-color: #fb565a;
}
.slide:nth-child(1){
    background-image: url(../img/pc.png);
    background-repeat: no-repeat;
    background-position: 100% 10px;
}
.slide:nth-child(2){
    background-image: url(../img/calc.png);
    background-repeat: no-repeat;
    background-position: 100% 10px;
}
.slide:nth-child(3){
    background-image: url(../img/robot.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
}
.slide{
    display: none;
}
#btn-1:checked ~ .slides .slide:nth-child(1){
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2){
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3){
    display: block;
}
.container{
    width: 880px;
    margin:0 auto;
    padding: 0 10px;
}
section.first{
    margin: 80px 0;
}
section.second{
    margin: 40px 0;
}
section.first div div div{
    width: 240px;
    font-size:18px;
    line-height: 30px;
    font-weight: 700;
    margin: 20px 0;
    text-transform: uppercase;
}
section.first p{
    width: 240px;
    margin: 20px 0;
}
.presintation-col-1{
    width: 240px;
    float:left;
    margin-right: 80px;
}
.presintation-col-2{
    float: left;
}
.presintation-col-3{
    float: right;
}
.first img{
    width:240px;
    height: 124px;
}

.btn {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 40px;
    font-weight: 700;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    margin-right: 0;
}
.btn:hover:after{
    content: '';
    position: absolute;
    background-color: #000;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    left:0px;
}


.presintation-col-1 .btn {
    margin-top: 25px;
    background-color: #fb565a;
}
.presintation-col-2 .btn {
    margin-top: 25px;
    background-color: #00ca74;
}
.presintation-col-3 .btn {
    margin-top: 25px;
    background-color: #efc84a;
}
.col-1-2{
    width:560px;
    float: left;
}
.col-3{
    width:240px;
    float: right;
}
hr{
    color: #ccc;
}
.since{
    margin-top: 20px;
}
.location p:first-child{
    font-size: 36px;
    line-height: 36px;
    margin-top: 30px;
    margin-bottom: 20px ;
}
.location p{
    line-height: 22px;
    margin-bottom: 30px ;

}
.list p{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}

.list li{
    line-height: 42px;
    list-style-image: url(../img/ol.png);
}
section.logos img{
    float: left;
    margin-right: 100px;
}
section.logos img{
    opacity: 0.2;
}
section.logos img:hover{
    opacity: 1;
}
section.logos img:last-child{
    margin-right: 0px;
    margin-left: 10px;
}
footer .map{
    margin: 85px 0 75px;
    height: 420px;
    background: #ccc url(../img/map.jpg) no-repeat center;
   /* opacity: 0.5;*/
    position: relative;
}
footer .point{
    position: absolute;
    right: 100px;
    bottom: 100px;
}
.icon a{
    position: relative;
    display: block;
    float: left;
    height: 60px;
    width: 60px;
    margin: 0 15px 80px;
    border-radius: 100%;
    background: #e1e1e1;
}
.icon a:hover{
    background-color: #fb565a;
}
.icon-vk{
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 26px;
    left: 8px;
    top: 14px;
}
.icon .icon-facebook{
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 26px;
    left: 10px;
    top: 16px;
}
.icon .icon-instagramm{
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 26px;
    left: 12px;
    top: 16px;
}
footer img{
    right: 20px;
    bottom: 20px;
}
footer a:first-child{
    margin-left: 0;
}
footer .slogan{
    display: block;
    width: 560px;
    float: right;
    text-align: left;
}
.slogan p{
    margin: 0 0 10px;
}
.slogan p:first-child{
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
}
footer .contacts{
    float: left;
    width: 200px;
    height: 200px;
    margin-top: 85px;
    background-color: #fff;
    padding: 20px;
}
footer .tel{
    margin: 25px 0 30px;
}
footer a.btn {
    background-color: #fb565a;
    width: 190px;
    margin: 0 0;
}
.modal-content{
    position: fixed;
    left: 50%;
    margin-left: -270px;
    margin-top: 190px;
    top: 100px;
    padding: 60px 80px;
    width: 460px;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 20px 40px rgba(0,0,0,.7);
}

.modal-content div{
    font-family: "ROBOTO", arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    margin: 20px 0 10px;
    font-weight: 700;
    float: left;
}

.modal-content-name{
    display: inline-block;
    float: left;
}
.modal-content .modal-content-email{
    display: inline-block;
    width: 220px;
    float: right;
    margin-right: 0;
}
.modal-content .user{
    float: left;
}
.modal-content .email{
    float: right;
}
.modal-content .user,
.modal-content .email{
    width: 200px;
    padding: 12px 10px;
    font-family: "ROBOTO", arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: black;
    font-weight: 700;
    border-radius: 2px;
    border: 2px solid #ccc;
    outline: none;
}
.modal-content input:focus{
    border: 2px solid #56bffb;
}
.modal-content textarea{
    padding: 12px 10px;
    width: 440px;
    height: 110px;
    font-family: "ROBOTO", arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: black;
    font-weight: 700;
    border-radius: 2px;
    border: 2px solid #ccc;
    outline: none;
    resize: none;
    flex-direction: column;
}
.modal-content textarea:focus{
    border: 2px solid #56bffb;
}
.wright-us .btn{
    margin-top: 25px;
    background-color: #fb565a;
    float: left;
    width: 220px;
    padding: 0 0;
    border: none;
}
.wright-us input[type="submit"]{
    margin-right: 20px;
}
.wright-us button.btn{
    background-color: #f1f1f1;
    color: black;
    font-weight: 700;
    border: none;
}
.wright-us input.btn:hover{
    background-color: #d6494d;
}
.modal-content{
    display: none;
}
.show{
    display:block;
}
.blur{
    background-color: #00ca74;
}

/*wright-us*/
/*modal-content-name*/
/*user*/
/*modal-content-email*/
/*email*/
/*modal-content-text*/