@-webkit-keyframes opacity-gone{
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes opacity-come{
  0% {opacity: 0;}
  //50% {opacity: 0;}
  100% {opacity: 1;}
}
.slider {
  text-align: center;
  &__text {
    color: @dark-blue2;
    font-size: 14px;
    line-height: 30px;
    font-family: "OpenSansRegular";
    margin: 0 20px;
    &--strong {
      font-size: 18px;
      font-family: "OpenSansBold";
      padding: 1em 0 0.5em;
      margin-top: 30px;
      &--prof {
        display: none;
      }
    }
  }
  & .slide {
    display: none;
  }
  .block {
    display: block;
  }
  .block-1 {
    -webkit-animation: opacity-come 1s  ease-out forwards;
  }
  .block-100 {
    -webkit-animation: opacity-gone .5s  ease-out forwards;
  }
}

.slider-close {
  display: none;
}

.slider-controls {
  text-align: center;
  width: 300px;
  height: 12px;
  display: inline-block;
  margin-top: 30px;
  i {
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    background: @light-grey;
    display: inline-block;
    margin-right: 13px;
    border-radius: 50%;
    border: 3px solid #fff;
    &:hover {
      cursor: pointer;
    }
    &.slider-controls--active {
      border: 3px solid @dark-blue2;
      background: #fff;
      &:hover {
        cursor: default;
      }
    }
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .slider {
    position: relative;
  }

  .slider__text {
    font-size: 18px;
    padding-bottom: 100px;
    &--strong {
      width: 200px;
      left: -100px;
      position: absolute;
      bottom: 80px;
      margin-left: 50%;
      &--prof {
        display: block;
        font-size: 14px;
        font-family: "OpenSansLight";
        width: 200px;
        left: -100px;
        position: absolute;
        bottom: 65px;
        margin-left: 50%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .slider {
    position: relative;
    & .control-left {
      margin-top: 0;
      position: absolute;
      display: block;
      width: 100px;
      height: 50%;
      top: 30%;
      &:after {
        position: absolute;
        content: "";
        display: block;
        left: 40px;
        margin-top: 70%;
        width: 30px;
        height: 30px;
        border: 2px solid @light-grey;
        transform: rotate(-135deg);
        border-left: transparent;
        border-bottom: transparent;
      }
      &:hover {
        cursor: pointer;
        &:after {
          border-color: @red;
        }
      }
      &:active {
        opacity: 0.5;
      }
    }
    & .control-right {
      margin-top: 0;
      position: absolute;
      display: block;
      width: 100px;
      right: 0;
      height: 50%;
      top: 30%;
      &:after {
        position: absolute;
        content: "";
        display: block;
        right: 40px;
        margin-top: 70%;
        width: 30px;
        height: 30px;
        border: 2px solid @light-grey;
        transform: rotate(45deg);
        border-left: transparent;
        border-bottom: transparent;
      }
      &:hover {
        cursor: pointer;
        &:after {
          border-color: @red;
        }
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
  .slider-controls {
    display: none;
  }
  .slider__text {
    font-size: 18px;
    padding: 100px;
    padding-top: 150px;
    &:before {
      content: '"';
      position: absolute;
      margin-left: 50%;
      left: -50px;
      top: 120px;
      font-size: 240px;
      color: @grey;
      font-family: "Times-new-roman";
    }
    &--strong {
      width: 200px;
      left: -100px;
      position: absolute;
      bottom: 50px;
      margin-left: 50%;
      &--prof {
        display: block;
        font-size: 14px;
        font-family: "OpenSansLight";
        width: 200px;
        left: -100px;
        position: absolute;
        bottom: 35px;
        margin-left: 50%;
      }
    }
  }

}