.slider {
  text-align: center;
  &__text {
    color: @dark-blue2;
    font-size: 14px;
    line-height: 30px;
    font-family: "OpenSansRegular";
    margin: 0 20px;
    &--strong {
      font-size: 18px;
      font-family: "OpenSansBold";
      padding: 1em 0 0.5em;
      margin-top: 30px;
    }
  }
  & .slide {
    display: none;
  }
  .block {
    display: block;
  }
}