<!DOCTYPE html>
<html>
<head>
  <title>Be On Board</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport"
        content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>
<body>

<!-- intercepted by a resourceQuery in the webpack config -->
<%= require('../partials/nav.html?raw') %>

<div class="main-banner">
  <img class="bg-img" src="<%= require('../img/main-banner.jpg') %>">
  <div class="container">
    <div class="main-banner-text">
      <div class="main-banner-subtitle">
        московская
      </div>
      <h1 class="main-banner-title">
        Детская <br>
        ШКОЛА <br>
        СКЕЙТБОРДИНГА
      </h1>
      <div class="main-banner-info">Дети от 4-х лет</div>
    </div>
  </div>
</div>

<div class="advantages">
  <div class="container">
    <div class="advantages-title">Преимущества</div>
    <div class="advantages-slider">
      <div class="advantages-item">
        <div class="advantages-item-icon">
          <span class="icon-skate"></span>
        </div>
        <div class="advantages-item-title">
          Быстрый прогресс
          неизбежен
        </div>
        <div class="advantages-item-subtitle">
          Каждое занятие мы разучиваем новые трюки, отрабатываем и улучшаем старые.
        </div>
      </div>
      <div class="advantages-item">
        <div class="advantages-item-icon">
          <span class="icon-rock"></span>
        </div>
        <div class="advantages-item-title">
          Дисциплина и
          физическая форма
        </div>
        <div class="advantages-item-subtitle">
          Преодолевая свой страх и трудности, пробуя ещё раз сделать трюк после неудачной попытки, закаляется характер,
          появляется дисциплина и формируется личность.
        </div>
      </div>
      <div class="advantages-item">
        <div class="advantages-item-icon">
          <span class="icon-pizza"></span>
        </div>
        <div class="advantages-item-title">
          Общение в коллективе
          и много новых друзей
        </div>
        <div class="advantages-item-subtitle">
          Скейтборд - это в первую очередь дружба и общение, а потом уже сложные трюки. В первую очередь мы учимся
          дружить
          и поддерживать друг друга.
        </div>
      </div>
      <div class="advantages-item">
        <div class="advantages-item-icon">
          <span class="icon-helmet"></span>
        </div>
        <div class="advantages-item-title">
          ПОД присмотрам
          опытного тренера
        </div>
        <div class="advantages-item-subtitle">
          Скейтбординг - экстремальный вид спорта, в котором много падений. Но благодаря нашему опыту мы научим тебя
          делать их безопасными.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tabs">
  <div class="tab-1">
    <div class="tab-img">
      <img src="<%= require('../img/img-1.jpg') %>">
    </div>
    <div class="tab-info">
      <h2 class="tab-info-title">Индивидуальные занятия</h2>
      <div class="tab-info-text">
        Отлично подходит для тех, кто:
        <ul>
          <li>только знакомится со скейтбордом</li>
          <li>стремиться к быстрому прогрессу</li>
          <li>хочет заниматься независимо от времени групповых занятий</li>
        </ul>
      </div>
      <div class="tab-info-icons">
        <span><span class="icon-clock"></span>1,5 часа</span>
        <span>
          <span class="icon-three-coin"><span class="path1"></span><span class="path2"></span></span>
          от 2500 Р
        </span>
        <span><span class="icon-bike"></span>от 4-х лет</span>
      </div>
      <div class="tab-info-btn btn">
        Записаться на занятие
      </div>
    </div>
  </div>
  <div class="tab-2">
    <div class="tab-info">
      <div class="tab-info-block">
        <h2 class="tab-info-title">Групповые занятия</h2>
        <div class="tab-info-text">
          Подходит для тех кто:
          <ul>
            <li>
              Уже знаком со скейтбордом (могут ехать и отталкиваться на ровной поверхности , поворачивать )
            </li>
            <li>
              В групповых занятиях дети учаться не только скейтбордгу, но и поддерживать друг друга, мотивировать,
              общаться
            </li>
          </ul>
        </div>
        <div class="tab-info-icons">
          <span><span class="icon-clock"></span>1,5 часа</span>
          <span>
          <span class="icon-three-coin"><span class="path1"></span><span class="path2"></span></span>
          от 2500 Р
        </span>
          <span><span class="icon-bike"></span>от 4-х лет</span>
        </div>
        <div class="tab-info-btn btn btn-black">
          Записаться на занятие
        </div>
      </div>
    </div>
    <div class="tab-img">
      <img class="img-src-uses-require" src="<%= require('../img/img-2.jpg') %>">
    </div>
  </div>
</div>

<div class="travel">
  <div class="travel-block container">
    <img class="travel-img" src="<%= require('../img/img-3.png') %>">
    <div class="travel-text">
      <div class="travel-title">Лагеря и выезды</div>
      <div class="travel-text">
        <p>
          С 2016 году проводим и организовываем детские спортивные лагеря, за нашими плечами сноуборд лагеря в Кировске,
          сноуборд-скейтборд лагеря в Сочи, скейт лагеря в Сочи, серф скейт лагерь в Португалии.
        </p>
        <p>Так же проводим совместные праздничные мероприятия, совместное катание на вейк серфе, совместное участие в
          скейт контестах. Мы одна большая команда, мы вместе тренируемся и путешествуем, мы учимся поддерживать друг
          друга в трудные моменты и радоваться друг за друга в счастливые моменты.
          Присоединитесь и вы!</p>
      </div>
      <div class="btn btn-black">Подробнее</div>
    </div>
  </div>
</div>

<div class="video">
  <img class="video-img bg-img" src="<%= require('../img/video-bg.jpg') %>">
</div>

<div class="schedule">
  <div class="container">
    <div class="schedule-block">
      <div class="schedule-title">Расписание <br> групповых занятий</div>

      <div class="schedule-item">Вторник и четверг</div>
      <div class="schedule-item">Суббота</div>
      <div class="schedule-item">Воскресенье</div>

      <div class="schedule-more">*Пятница и понедельник по предварительной записи</div>
      <div class="btn btn-black">Записаться</div>
    </div>
    <div class="schedule-img">
      <img class="video-img img-src-uses-require" src="<%= require('../img/coach.jpg') %>">
    </div>
  </div>
</div>

<div class="tabs-price">
  <div class="tab-price-1">
    <div class="tab-price-block">
      <div class="tab-price-title">
        Цены на <br>
        индивидуальные занятия
      </div>
      <div class="tab-price-item">
        Индивидуальное
        <span>8 800 ₽</span>
      </div>
      <div class="tab-price-item">
        Групповое
        <span>12 000 ₽</span>
      </div>
      <div class="tab-price-item">
        Групповое
        <span>12 000 ₽</span>
      </div>
    </div>
  </div>
  <div class="tab-price-2">
    <div class="tab-price-block">
      <div class="tab-price-title">
        Цены на <br>
        групповые занятия
      </div>
      <div class="tab-price-item">
        Индивидуальное
        <span>8 800 ₽</span>
      </div>
      <div class="tab-price-item">
        Групповое
        <span>12 000 ₽</span>
      </div>
      <div class="tab-price-item">
        Групповое
        <span>12 000 ₽</span>
      </div>
    </div>
  </div>
</div>

<div class="last-trips">
  <div class="container">
    <div class="slider-title">Прошедшие поездки</div>
    <div class="slider">
      <div class="slide-item">
        <img src="<%= require('../img/slide-1.jpg') %>">
        <div class="slide-info">
          <b>Сочи</b>
          Июнь, 2020
        </div>
      </div>
      <div class="slide-item">
        <img src="<%= require('../img/slide-1.jpg') %>">
        <div class="slide-info">
          <b>Сочи</b>
          Июнь, 2020
        </div>
      </div>
      <div class="slide-item">
        <img src="<%= require('../img/slide-1.jpg') %>">
        <div class="slide-info">
          <b>Сочи</b>
          Июнь, 2020
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about">
  <div class="container">
    <div class="about-block">
      <div class="about-title">
        Привет, рад представить тебе <br> нашу школу скейтборднига
      </div>
      <div class="about-text">
        С 2013 года мы проводим тренировки для детей и взрослых, неимоверное количество довольных детей и взрослых,
        проводим занятия для детей с 4 лет.
        Наши занятия проходят в разных скейт парках Москвы, ведь меняя места катания, мы выходим из зоны комфорта тем
        самым расширяя свои горизонты, а благодаря крытым скейт паркам мы можем заниматься круглый год.
      </div>
      <span class="about-logo icon-Be-On-Board"></span>
    </div>
    <div class="about-img-block">
      <img class="img1" src="<%= require('../img/pic-1.png') %>">
      <img class="img2" src="<%= require('../img/pic-2.png') %>">
      <img class="img3" src="<%= require('../img/pic-3.png') %>">
    </div>
  </div>
</div>

<div class="shop-banner">
  <img class="bg-img" src="<%= require('../img/banner-1.jpg') %>">
  <div class="container">
    <div class="shop-banner-title">
      Нравится шапка? <br>
      Закажи себе такую же
    </div>
    <div class="shop-banner-text">
      Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют
      потому, что тот обеспечивает более или менее
    </div>
    <div class="shop-banner-btn btn btn-blue">В магазин</div>
  </div>
</div>

<div class="skateparks">
  <div class="container">
    <div class="slider-title">Скейтпарки Москвы</div>
    <div class="slider">
      <div class="slide-item">
        <img src="<%= require('../img/park-1.jpg') %>">
        <div class="slide-info">
          <b>Садовники</b>
          м. Коломенское
        </div>
      </div>
      <div class="slide-item">
        <img src="<%= require('../img/park-2.jpg') %>">
        <div class="slide-info">
          <b>Реддек</b>
          м. Нагорная
        </div>
      </div>
      <div class="slide-item">
        <img src="<%= require('../img/park-3.jpg') %>">
        <div class="slide-info">
          <b>Динамо</b>
          Июнь, 2020
        </div>
      </div>
    </div>
  </div>
</div>

<div class="go-skate">
  <div class="container">
    <div class="go-skate-title">
      Погнали катать!
    </div>
    <div class="go-skate-text">
      Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
    </div>
    <form action="" class="form">
      <div class="inputLabel">
        Имя
        <input type="text" placeholder="Иван Семенов">
      </div>
      <div class="inputLabel">
        Телефон
        <input type="text" placeholder="+7">
      </div>
      <div class="btn btn-blue">Записаться на занятие</div>
    </form>
  </div>
</div>


<%= require('../partials/footer.html?raw') %>
</body>
</html>
