ExpiresActive On
ExpiresByType  "access plus 10 minutes"
ExpiresByType /js "access plus 1 weeks"
ExpiresByType /css "modification plus 1 weeks"
ExpiresByType img/gif "access plus 1 weeks"
ExpiresByType img/png "access plus 1 weeks"
ExpiresByType img/jpeg "access plus 1 weeks"
ExpiresByType img/jpg "access plus 1 weeks"