<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{.Title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript">
    var MAP = {
      SessionType: "{{.SessionType}}",
      Amount: "{{.Amount}}",
      Currency: "{{.Currency}}",
      AllowNewCard: "{{.AllowNewCard}}",
      Secret: "{{.Secret}}",
      Error: "{{.Error}}",
      IsReceipt: "{{.IsReceipt}}",
      Email: "{{.Email}}",
      AddCard: "{{.AddCard}}",
      HasUserCred: "{{.HasUserCred}}",
      Holder: "Mr Cardholder",
      ShowOrderId: false,
      ShowDescription: false,
      ShowAmount: true,
      ShowCVV: true,
      ButtonText: {
        Pay: '{{index .CustomParams "PayButtonCustomText"}}' || 'Оплатить'
      }
    };
  </script>
  <link href="./css/main.css" rel="stylesheet">
  <style>
    input:valid~.border:before {
      opacity: 0;
    }

    input.success~.border:before,
    input.error~.border:before,
    .date.error>.border:before,
    .date.success>.border:before {
      opacity: 1;
    }
  </style>
</head>

<body>
  <noscript>
    <div id="noscript">Для продолжения оплаты необходимо включить поддержку JavaScript в вашем браузере.</div>
  </noscript>
  <div id="app">
    <div id="wrapper" class="grid center cross-start cross-center-ss">
      <div id="window" class="grid center hidden">
        <div id="logo" class="map-logo" :class="setIconResult">MAP</div>
        <div class="u-16 body grid">
          <form id="payForm" class="u-16 grid" :class="{hidden: showResult}" novalidate autocomplete="off" method="POST"
            @submit.prevent="submitPayment">
            <div class="u-16 text-center paymentInfo">
              <div id="orderId" v-if="showOrderId">Номер заказа: {{.OrderID}}</div>
              <div id="description" v-if="showDescription">{{index .CustomParams "Description"}}</div>
              <div :class="{errorPan : ValidationStack.PAN.Success == false,
							errorDate : (ValidationStack.EYear.Success == false || ValidationStack.EMonth.Success == false),
							errorCVV : ValidationStack.cvv.Success == false,  otherErrorMessage: true
							}" v-if="errorMessage">${ errorMessage }
              </div>
              <div class="form-wrapper">
                <div class="u-16 card">

                  <div class="value inputWrapper">
                    <span class="title" v-show="!showPanInput" @click="displayCardList"></span>
                    <input id="cardname" v-model="PAN" v-focus type="tel" v-show="showPanInput" ref="pan" name="PAN"
                      :maxlength="panMaxLength" class="pan" :class="{error : ValidationStack.PAN.ShowError, success:
                      ValidationStack.PAN.Success}" placeholder="" :next="next.PAN" @keypress="checkInput"
                      @keyup="keyupfunc" @blur="onBlurElement" required>
                    <label class="inputLabel" for="cardname">Номер карты</label>
                    <div class="border"></div>
                    <div :class="{error : ValidationStack.PAN.ShowError, errorMessage : true, rightSide : true}">
                      ${ ValidationStack.PAN.ErrorMessage }
                    </div>
                    <span class="mps" :class="mpsClass"></span>
                  </div>
                  <div class="cardList" v-show="showCardList">
                    {{ range $uid, $pan := .CardsPANs}}
                    <label><input type="radio" v-model="carduid" name="carduid" value="{{ $uid }}" id="{{ $uid }}"
                        @change="onSelectCard"><span class="name">{{ $pan }}</span></label>
                    {{end}}
                    <label><input type="radio" v-model="carduid" name="carduid" value="free" id="free"
                        @change="onSelectCard"><span class="title">Новая карта</span></label>
                  </div>

                  <a v-if="selectCard" class="selectCard" @click="displayCardList">
                    <i></i>
                  </a>
                  <div v-if="showClear" class="clear" @click="clearPANInput"></div>
                </div>
                <div class="u-16 grid between">
                  <div class="text half left date inputWrapper" :class="{error : ValidationStack.EYear.ShowError || ValidationStack.EMonth.ShowError, success:
                    ValidationStack.EYear.Success || ValidationStack.EMonth.Success, 'onlyDate' :
                    !options.ShowCVV}">
                    <input v-model="EMonth" ref="month" name="EMonth" type="tel" maxlength="2" novalidate
                      class="number month" placeholder="" prev="PAN" :next="next.EYear" @keypress="checkInput"
                      @keyup="keyupfunc" @blur="onBlurElement" :disabled="!showPanInput" required>

                    <input v-model="EYear" ref="year" name="EYear" type="tel" maxlength="2" novalidate
                      class="number year" placeholder="" prev="month" :next="next.cvv" @keypress="checkInput"
                      @keyup="keyupfunc" @blur="onBlurElement" :disabled="!showPanInput" required>
                    <span class="slash">/</span>
                    <div class="inputLabel">ММ/ГГ</div>
                    <div class="border"></div>
                    <div
                      :class="{error : ValidationStack.EYear.ShowError || ValidationStack.EMonth.ShowError, errorMessage : true, leftSide : true}">
                      ${ ValidationStack.EYear.ErrorMessage }
                    </div>
                  </div>
                  <div class="inputWrapper cvvWrapper">
                    <input id="CVV" v-model="cvv" v-if="options.ShowCVV" :maxlength="cvvMaxLenght" ref="cvv" name="cvv"
                      type="text" value="12" novalidate class="half right cvv number text password"
                      :class="{error : ValidationStack.cvv.ShowError, success: ValidationStack.cvv.Success}"
                      placeholder="" prev="EDate" :next="next.holder" @keypress="checkInput" @keyup="keyupfunc"
                      @blur="onBlurElement" required>
                    <label class="inputLabel" for="CVV">CVС</label>
                    <div class="border"></div>
                    <div :class="{error : ValidationStack.cvv.ShowError, errorMessage : true, rightSide : true}">
                      ${ ValidationStack.cvv.ErrorMessage }
                    </div>
                  </div>
                  <div class="u-16" v-if="showHolder">
                    <input v-model.trim="holder" ref="holder" name="holder" type="text" class="holder latin text"
                      :class="{error : ValidationStack.holder.Success == false}" placeholder="ДЕРЖАТЕЛЬ КАРТЫ"
                      prev="cvv" @keypress="checkInput" @input="checkInputHolder" @blur="onBlurElement"
                      :disabled="!showPanInput">
                  </div>
                  <button type="submit" :disabled="disabledSubmit" :class="[isLoad ? 'loading' : '', currencyClass]">
                    <span>${ setButtonText }</span>
                  </button>
                  <div class="u-16 grid between cross-center secure-logo">
                    <div><img src="https://static-evo.mapcard.pro/static/defaultNew/img/visa.png">
                    </div>
                    <div><img src="https://static-evo.mapcard.pro/static/defaultNew/img/mc-securecode.png">
                    </div>
                    <div><img src="https://static-evo.mapcard.pro/static/defaultNew/img/mir-accept.png">
                    </div>
                    <div><img src="https://static-evo.mapcard.pro/static/defaultNew/img/pci.png">
                    </div>
                  </div>
                  <div class="u-16 grid center cross-center footer">
                    <img src="https://static-evo.mapcard.pro/static/defaultNew/img/security.svg" />
                    <div>Безопасная оплата обеспечивается <span class="themap">theMAP</span></div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div v-show="showBack" class="back" @click="clickOnBack"></div>
      </div>
    </div>
  </div>
  <!--    "version": "1.15.4"-->
  <script src="./js/main.4463aa9b.js"></script>
</body>

</html>