<footer class="footer">
  <nav class="footer-menu container">
    <div class="logo">
      <span class="icon-logo"></span>
    </div>
    <ul class="menu-nav">
      <li><a href="#about">О нас</a></li>
      <li><a href="#proce">Цены и расписание</a></li>
      <li><a href="#skateparks">Скейпарки</a></li>
      <li><a href="#trawel">Выезды и лагеря</a></li>
      <li><a href="#shop">МАГАЗИН</a></li>
    </ul>
    <a href="tel:+79266551623" class="tel-number">8926 655-16-23</a>
    <div class="social">
      <a href="">
        <span class="icon icon-whatsapp"><span class="path1"></span><span class="path2"></span></span>
      </a>
      <a href="">
        <span class="icon icon-telegram"></span>
      </a>
      <a href="/">
        <span class="icon icon-instagram"><span class="path1"></span><span class="path2"></span><span
          class="path3"></span></span>
      </a>
    </div>
  </nav>
</footer>
